flake8==3.8.4
flake8-polyfill==1.0.2
pyflakes==2.2.0
pylint==2.6.0
pytest==6.1.2
pytest-cov==2.10.1
pytest-datafiles==2.0
xenon==0.7.1
pymongo==3.11.4
beautifulsoup4~=4.9.3
tld~=0.12.5
lxml==4.6.3
pyyaml==5.4.1
tbselenium~=0.6.1
selenium~=4.1.0
websockets~=10.3
PyAutoGUI~=0.9.52
termcolor~=1.1.0
ewmh==0.1.6
pytz==2021.1
rich==10.3.0
dateparser==1.1.1
fake_useragent==0.1.11
pyperclip~=1.8.2
PyMsgBox~=1.0.9

python-dateutil~=2.8.2
python-crontab~=2.6.0
